/* CSS declarations go here */
.main-content, .sidebar, .footer{
	padding: 1.5em;
}

.main-content{
	grid-area: main;
	height: 20rem;
	background-color: #7EBDC2;
}

.sidebar-left{
	grid-area: sidebar-left;
	height: 20rem;
	background-color: #F3DFA2;
}

.sidebar-right{
	grid-area: sidebar-right;
	height: 20rem;
	background-color: #BB4430;
}

.footer{
	height: 10rem;
	background-color: #EFE6DD;
}

@media only screen and (min-width : 480px){
	.grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 2fr 3fr 1fr;
		grid-template-areas: 
			"title title"
			"main header"
			"main sidebar"
			"footer footer"
		; 
	}

	.header, .page-title, .main-content, .sidebar, .footer{
		padding: 1.5em;
		height: auto;
		margin: 0;
	}


	.header{
		grid-area: header;
	}

	.page-title{
		grid-area: title;
	}

	.main-content{
		grid-area: main;
		height: 60vh;
	}

	.sidebar{
		grid-area: sidebar;
	}

	.footer{
		grid-area: footer;
	}
}

@media only screen and (min-width : 992px){
	.grid{
		display: grid;
		grid-template-columns: 1fr 4fr 2fr;
		grid-template-rows: 2fr 2fr 1fr;
		grid-gap: 0;
		grid-template-areas: 
			"sidebar-left main sidebar-right"
			"sidebar-left main sidebar-right"
			"footer footer footer"		
			;
		}
		.main-content, .sidebar-left, .sidebar-right{
			height: 80vh;
		}

}